
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
#TicketModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms ease-in-out;
    background-color: #fff;
    z-index: 10;
    width:  800px;
    max-width: 50%;

}
.modalHeader{
    display: flex;
    padding: 10px 20px;
    color: #fff;
    background-color: #e62b1e;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}
  .modalHeader h1 {
    font-weight: 800;
    font-size: 1.9em;
  }
  .modalHeader .closeBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: 600;
    font-size: 1.5em;
    color: #0a2628;
    position: relative;
    transition: all ease 0.4s;
  }
  .circle{
    display: none;
    transition: all ease 0.4s;
  }
  .closeBtn:hover .circle{
    position: absolute;
    display: block;
    padding-bottom: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 30px;
    width: 30px;
    color:#e62b1e;
    border-radius: 50%;
    transition: 1s;
  }
.Note{
    padding: 5px 30px;
}
  .modalBody{
    padding: 30px;
    color: #0a2628;
    display: flex;
    gap: 20px;
  }
